@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/rf-dewi/RFDewi-Regular.woff2') format('woff2'),
        url('../fonts/rf-dewi/RFDewi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/rf-dewi/RFDewi-Light.woff2') format('woff2'),
        url('../fonts/rf-dewi/RFDewi-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/rf-dewi/RFDewi-Semibold.woff2') format('woff2'),
        url('../fonts/rf-dewi/RFDewi-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/rf-dewi/RFDewi-Bold.woff2') format('woff2'),
        url('../fonts/rf-dewi/RFDewi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/rf-dewi/RFDewi-Thin.woff2') format('woff2'),
        url('../fonts/rf-dewi/RFDewi-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

