// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$primary: #ff201c;
$red: #ff201c;
$purple: #6c35eb;
$secondary: #6c35eb;
$body-color: #1a1b1e;
$dark: #1a1b1e;
$light :#F7F7F8;

$font-family-base: "RF Dewi", sans-serif;
$font-family-heading: "RF Dewi", sans-serif;
// 17px to rem
$font-size-base: 1.0625rem; // 17px
$font-size-lg: 1.125rem; // 18px
$font-size-sm: 0.9375rem; // 15px

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$btn-font-weight: 600;
$btn-font-size: 1rem; // 0.9375rem; // 15px

$btn-font-weight: 700;
$btn-font-size: 0.9375rem; // 15px
$btn-font-family: "RF Dewi", sans-serif;

$headings-font-weight: 600;
$font-weight-bold: 700;

$card-spacer-y: 40px;
$card-spacer-x: 40px;

$input-bg: #f7f7f8;
$input-border-radius: 0;
$input-border-color: transparent;
$input-btn-focus-box-shadow: none;
// $input-focus-color: lighten($purple, 20%);
$input-focus-bg: transparent;
$input-focus-border-color: lighten($purple, 40%);

$accordion-border-width: 0;
$accordion-padding-y: 1.5rem;

$line-height-base: 1.9;

// Badge customizations
$badge-font-weight: 300; // Light font weight
$badge-padding-y: 0.5em; // Increase height slightly
$badge-padding-x: 0.75em;
$badge-font-size: 0.85em;
$badge-color: $body-color; // Use body color for text
$spacer: 1rem; // Space between badges


$spacers: map-merge(
  (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4.5, // new
    7: $spacer * 6,   // new
    8: $spacer * 8    // new
    
  ),
  ()
);

$display-font-weight: 700; // Bold font weight for display text